{% if is_front %}
  <div id="last-news">
    {% for index, row in rows | slice(1,3) %}
      {%
      set row_classes = [
      default_row_class ? 'views-row',
      'panel',
      'panel-default',
      ]
      %}
      <div class="nodeListItem col-md-4 col-sm-6 col-xs-12">
        <div class="nodeListItemInner">
          {{ row.content }}
        </div>
      </div>
    {% endfor %}
    <div class="clear"></div>
  </div>

  <div class="box-banner">
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script>
      window.googletag = window.googletag || {cmd: []};
      googletag.cmd.push(function() {
        googletag.defineSlot('/21830539511/NX_BoxBanner_2', [300, 250], 'div-gpt-ad-1562864275636-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>

    <!-- /21830539511/NX_BoxBanner_2 -->
    <div id='div-gpt-ad-1562864275636-0' style='width: 300px; height: 250px;'>
      <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1562864275636-0'); });
      </script>
    </div>
  </div>

{{ drupal_view('home', 'cursos') }}

<div id="last-news-2">
  {% for index, row in rows | slice(4,3) %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    'panel',
    'panel-default',
    ]
    %}

    <div class="nodeListItem col-md-4 col-sm-6 col-xs-12">
      <div class="nodeListItemInner">
        {{ row.content }}
      </div>
    </div>
  {% endfor %}
  <div class="clear"></div>
</div>
{% endif %}


<div class="box-banner">
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
  <script>
    window.googletag = window.googletag || {cmd: []};
    googletag.cmd.push(function() {
      googletag.defineSlot('/21830539511/NX_HalfBanner_1', [300, 600], 'div-gpt-ad-1562864312974-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>

  <!-- /21830539511/NX_HalfBanner_1 -->
  <div id='div-gpt-ad-1562864312974-0' style='width: 300px; height: 600px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1562864312974-0'); });
    </script>
  </div>
</div>

{{ drupal_view('home', 'nombres') }}

<div id="last-news-3">
  {% for index, row in rows | slice(7,3) %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    'panel',
    'panel-default',
    ]
    %}

    <div class="nodeListItem col-md-4 col-sm-6 col-xs-12">
      <div class="nodeListItemInner">
        {{ row.content }}
      </div>
    </div>
  {% endfor %}
  <div class="clear"></div>
</div>

{{ drupal_view('home', 'frases') }}

<div class="box-banner">
  <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
  <script>
    window.googletag = window.googletag || {cmd: []};
    googletag.cmd.push(function() {
      googletag.defineSlot('/21830539511/NX_BoxBanner_2', [300, 250], 'div-gpt-ad-1562864275636-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>

  <!-- /21830539511/NX_BoxBanner_2 -->
  <div id='div-gpt-ad-1562864275636-0' style='width: 300px; height: 250px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1562864275636-0'); });
    </script>
  </div>
</div>
